.container {
    @apply max-w-sm flex flex-col items-center mx-auto p-3
}

.container-items {
    @apply w-full flex flex-col py-16
}

.items {
    @apply bg-white flex-col items-center justify-center border border-gray-400 shadow-lg rounded-lg p-6
}

.title {
    @apply w-full flex justify-center text-3xl font-bold mb-4
}

.error {
    @apply mb-4 text-xs text-red-500
}

.input {
    @apply text-sm text-gray-500 w-full mr-3 py-5 px-4 h-2 border border-gray-400 mb-2
}

.validate {
    @apply bg-blue-900 text-white font-bold w-full rounded-lg text-xl py-2
}

.account-section {
    @apply flex justify-center mt-4 items-center flex-col w-full bg-white p-3 border border-gray-400 mb-8
}

.signup {
    @apply ml-3 font-bold text-black
}